@charset "UTF-8"; 

* {
    font-family: 'Nova Flat';
}

body {
    background-size: 60px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Iconoir_pizza-slice.svg/800px-Iconoir_pizza-slice.svg.png");
    background-color: #EB3A3A;
}

main {
    background-color: #fff;
    border-radius: 20px;
    border: 7px solid #4d4d4d;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
}

.item {
    text-align: left;
}

.price {
    text-align: right;
    color: #64d941;
    text-shadow: 0 0 3px #000;
}

.last-item {
    margin-bottom: 50px;
}

.image {
    border-radius: 5px;
    float: right;
}
