@charset "UTF-8"; 

* {
    font-family: 'Nova Flat';
}

body {
    background-image: linear-gradient(to right,#9E0000,#EB3A3A);
}

main {
    background-color: #fff;
    border-radius: 20px;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
}

.item {
    text-align: left;
}

.price {
    text-align: right;
}
